.additional__text {
    max-width: 248px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 30px;
    padding-left: 18px;
    margin: 0;
}