.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    max-width: 382px;
    margin: auto;
    padding-top: 134px;
    color: #FFFFFF;
}