.video__duration {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    padding-top: 94px;
    padding-left: 30px;
    z-index: 1;
}