@import url(./_position/cover_position.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    position: relative;
    font-family: 'Inter', 'Arial', sans-serif;
    color: white;
    max-width: 1184px;
    height: 594px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../images/cover_image.jpg);
    background-blend-mode: normal;
}
.cover:hover {
    background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../images/cover_image.jpg);
    background-blend-mode: normal;
}