.video__item_picture_observatory {
    background-image: url(../../../../../images/item-bg2.jpg);
    width: 583px;
    height: 323px;   
    border-radius: 5px;
}
.video__item_picture_observatory:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../../../../../images/item-bg2.jpg);
    background-blend-mode: normal;
}